body {
    background: rgb(223, 182, 124);
    background: linear-gradient(180deg, rgb(199, 116, 71) 3%, rgba(247, 227, 199, 1) 12%, rgba(255, 255, 255, 1) 22%);
    font-family: 'Open Sans', sans-serif;
    color: rgb(0, 0, 0);
    margin: 0rem;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}